*.pyc
*.egg-info
*.cpython-39.pyc
results/sacred
results/models
results/dial
learning-to-communicate/
pycomm/test.py
pycomm/tester.py
pymarl2/tester.py
pycomm/games
.vscode/
commformer/scripts/results